<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-5">
          <h2><b>Dashboard</b></h2>
        </div>
      </div>
    </div>
    <div class="row">

      <!-- Icon Cards-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
              <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
              <h4>Users</h4>
              <h2>{{nbUsers}}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
              <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
              <h4>Posts</h4>
              <h2>{{nbPosts}}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
              <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
              <h4>Visitors</h4>
              <h2>-</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

